{% extends "blog/base.html" %}
{% block content %}
    <div class="form-container">
        {% if object %}
            <h2>Edit Comment</h2>
        {% else %}
            <h2>Add Comment to "{{ post.title }}"</h2>
        {% endif %}
        
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">
                {% if object %}Update{% else %}Add{% endif %} Comment
            </button>
        </form>
        
        {% if object %}
            <a href="{% url 'blog:post-detail' object.post.id %}">Cancel</a>
        {% else %}
            <a href="{% url 'blog:post-detail' post.id %}">Cancel</a>
        {% endif %}
    </div>
{% endblock content %}